$three-circle-color: #2a4d69;
$two-circle-color: #adcbe3;
$one-circle-color: #63ace5;
$light: #fff;

body {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);

    #display {

        .number {
            font-size: 5rem;
        }

        .one-border {
            width: 300px;
            aspect-ratio: 1;
            border: 2px solid $one-circle-color;
            border-radius: 207px 229px 121px 325px / 169px 211px 305px 204px;
            box-shadow: 0px 0px 10px $one-circle-color;
            animation: rightTurn 3s infinite linear;
            z-index: -1;
            backdrop-filter: blur(2px);
        }

        .two-border {
            width: 275px;
            aspect-ratio: 1;
            border: 2px solid $two-circle-color;
            border-radius: 216px 92px 122px 190px / 160px 164px 232px 131px;
            box-shadow: 0px 0px 10px $two-circle-color;
            animation: leftTurn 1.5s infinite linear;
        }

        .three-border {
            width: 250px;
            aspect-ratio: 1;
            border: 2px solid $three-circle-color;
            border-radius: 132px 153px 81px 242px / 113px 137px 107px 119px;
            box-shadow: 0px 0px 10px $three-circle-color;
            animation: rightTurn 2.5s infinite linear;
        }

        @keyframes rightTurn {
            0% {
                transform: rotate(0);
            }

            100% {
                transform: rotate(360deg);
            }

        }

        @keyframes leftTurn {
            0% {
                transform: rotate(0);
            }

            100% {
                transform: rotate(-360deg);
            }

        }
    }

    #mode-section {
        .container {
            .btn {
                box-shadow: none;
                border-color: $light;
                backdrop-filter: blur(8px);
                opacity: 0;
                visibility: hidden;
                transition: opacity 200ms linear, visibility 200ms linear;

                &:active {
                    background: darkblue !important;
                }
            }

            .select-group {
                .form-select {
                    cursor: pointer;
                    backdrop-filter: blur(8px);

                    option {
                        background: rgba($three-circle-color, $alpha: 1);
                    }
                }
            }
        }

        #input-area {
            width: max-content;
            opacity: 0;
            visibility: hidden;
            transition: opacity 200ms linear, visibility 200ms linear;

            .number-in {
                width: 80px;
                border: 1px solid $light;
                caret-color: $light;
            }

            .number-in::-webkit-inner-spin-button,
            .number-in::-webkit-outer-spin-button {
                -webkit-appearance: none;
            }
        }
    }
}

.buttonChangeClass {
    opacity: 1 !important;
    visibility: visible !important;
}

.inputChangeClass {
    opacity: 1 !important;
    visibility: visible !important;
}